<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="../css/styles.css">
</head>
<body>
    <h1>Carrito de Compras</h1>

    <table>
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="cart-body">
            <!-- Aquí se mostrarán los productos del carrito -->
        </tbody>
    </table>
    <!-- Asegúrate de que este código esté en el HTML -->
    <button id="view-cart-button">Ver Carrito</button>
    <button onclick="clearCart()">Vaciar Carrito</button> <!-- Botón para vaciar el carrito -->

    <script src="../js/main.js"></script> <!-- Cargar el JS -->
</body>
</html>


