<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Menú Cliente</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la Tienda Online</h1>
        <nav>
            <ul>
                <li><a href="/productosCliente">Ver Productos</a></li>
                <li><a href="/carritoCliente">Ver Carrito</a></li>
                <li><a href="/realizarCompra">Realizar Compra</a></li>
                <li><a href="/historialCompras">Ver Historial de Compras</a></li>
                <li><a href="../logout">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="contenido">
            <!-- Aquí se cargará el contenido dependiendo de la selección -->
        </section>
    </main>
</body>
</html>
