<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a href="index">Inicio</a>
            <a href="carrito">Carrito de Compras</a>
            <a href="perfil">Perfil de Usuario</a>
            
        </nav>
    </header>

    <main>
        <h1>Perfil de Usuario</h1>

        <section id="perfil-container">
            <h2>Historial de Compras</h2>
            <ul id="historial-compras">
                <!-- Historial de compras se cargará aquí dinámicamente -->
            </ul>
        </section>

        <div id="autenticacion-container">
            <button id="cerrar-sesion">Cerrar Sesión</button>
        </div>
    </main>

    <script src="js/main.js"></script>
</body>
</html>
